<VirtualHost localhost:8080>
    ServerName %%vhost_name%%
    ServerAlias www.%%vhost_name%%
    DocumentRoot %%vhost_path%%/htdocs

    # To enable logging uncomment following lines
    # Opening logs have serious impact on I/O performance
    # Use only when really needed

    # LogLevel info
    # ErrorLog %%vhost_path%%/logs/apache2-error.log
    # CustomLog %%vhost_path%%/logs/apache2-access.log combined

    <Directory %%vhost_path%%/htdocs>
	# By default do not show directory listing
	# and do not follow symlinks
        Options -Indexes -FollowSymLinks

	# Htaccess file support is disabled by default
	# From performance point of view it is always better
	# to define htaccess rules directly in <Directory> section
	AllowOverride None
	#AllowOverride All

        Order allow,deny
        allow from all
    </Directory> 
</VirtualHost>
